.body{
    background-color:hsl(233, 47%, 7%) ;
    width: 100%;
    height: 100vh;
}
.content{
    background-color:hsl(244, 38%, 16%) ;
    width: 900px;
    height:400px ;
    margin-left: 150px;
    margin-top:90px;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    }
.left{
    float: left;

}
.content table{
    border: 0px;
}
/*.content table tr td{}*/
.content table tr td h3{
    color:rgb(255, 255, 255) ;
    margin-top: 50px;
    margin-left: 40px;
    font-family: "inter";
    font-size: 40px;
    flex-wrap: wrap;
}
.content table tr td h3 span{
    color:hsl(277, 42%, 47%) ;
    display: inline-block;
}

.insights{
    color:hsl(277, 42%, 47%) ;
    display: inline-block;
}
.content table tr td p{
    color:hsla(0, 0%, 100%, 0.75) ;
    margin-left: 40px;
    position: relative;
}

.img img{
    /*background-image: url(image-header-desktop.jpg);/*
   /* opacity:50%;*/
    width: 388px;
    height:395px;
    margin-left: 0px;
}

.content table tr td ul li{
    display: inline-block;
    list-style-type: none;
    margin: 1px;
    padding: 10px;
    color: hsl(0, 0%, 100%) ;
}
.ilaya{
    color:hsla(0, 0%, 100%, 0.75) ;
   margin-left: -2px;
    margin-top: -20px;
    margin-right: 4px;
}
@media screen and (max-width:600px) {
    body{
        width: 100%;
        height:100vh;
        margin-top: -3px;
        margin-left: -7px;
    }
    .content{
        width: 270px;
        margin-left:25px;
        height: 590px;
        margin-right: 7px;
        margin-top: 40px;
    
    }
    .img img{
        position:absolute;
        margin-left: -270px;
        width: 270px;
        height:200px;
        background-size: cover;
        background-blend-mode: multiply;
        margin-top: -300px;


    }
    .content table tr td h3{
        margin-top:10px;
        font-size: 25px;
        flex-wrap: wrap;
        display: inline-block;
        margin-left:10px;
        margin-top: 210px;

    }
    .content table tr td p{
        margin-left: 5px;
        margin-top: -8px;


}
.content table tr td h3 span{
    display: inline;
    float: inline-end;
    margin-right: 10px;
    margin-left:0px ;

}
    .insights{
        display: inline-block;
        display: flexbox;
        flex-wrap: nowrap;
    }
    .content table tr td ul{
        margin-left: 20px;

    }
    .content table tr td ul li{
        margin-top: -25px;
    }
}